<footer class="relative isolate overflow-hidden p-4 md:p-8 lg:p-10 bg-accent text-gray-900">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="flex justify-center items-center text-2xl font-semibold text-gray-900">
            <img class="w-12 mr-4" src="/assets/favicon.png" alt="Claw Vault" />
            Claw Vault
        </a>
        <p class="my-6">
            Open-source platform for securely sharing private information.
        </p>
        <ul class="flex flex-wrap justify-center items-center mb-6">
            <li>
                <a href="https://github.com/Claw-Vault/claw-vault" target="_blank"
                    class="mr-4 hover:underline md:mr-6">Github</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
                <a href="/privacy" class="mr-4 hover:underline md:mr-6">Privacy</a>
            </li>
        </ul>
        <span class="text-sm sm:text-center">
            © 2024 <a href="/" class="hover:underline">Claw Vault ™</a>. All Rights
            Reserved.
        </span>
    </div>
</footer>