<head class="h-full">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />

    <meta name="description"
        content="Claw Vault is a platform to share sensitive information with desired recipients. Claw Vault encrypts your data, providing a unique ID and key for secure transmission.">

    <meta name="og:title" content="Claw Vault">
    <meta name="og:description"
        content="Claw Vault is a platform to share sensitive information with desired recipients. Claw Vault encrypts your data, providing a unique ID and key for secure transmission.">
    <meta name="og:image" content="https://claw-vault.up.railway.app/assets/claw-vault.png">
    <meta name="og:url" content="https://claw-vault.up.railway.app/">
    <meta name="og:site_name" content="Claw Vault">
    <meta name="og:type" content="website">

    <meta name="twitter:title" content="Claw Vault">
    <meta name="twitter:description"
        content="Claw Vault is a platform to share sensitive information with desired recipients. Claw Vault encrypts your data, providing a unique ID and key for secure transmission.">
    <meta name="twitter:image" content="https://claw-vault.up.railway.app/assets/claw-vault.png">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="robots" content="index,follow">

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <style>
        body::-webkit-scrollbar {
            display: none;
        }

        .bg-accent {
            background-color: #9ad4d8;
        }

        .stroke-accent {
            stroke: #9ad4d8;
        }

        .text-accent {
            color: #9ad4d8;
        }

        .fill-accent-30 {
            fill: rgba(154, 212, 216, 0.2);
        }
    </style>
    <title>Claw Vault</title>
</head>