<head class="h-full">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />

  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <style>
    body::-webkit-scrollbar {
      display: none;
    }

    .bg-accent {
      background-color: #9ad4d8;
    }

    .stroke-accent {
      stroke: #9ad4d8;
    }

    .text-accent {
      color: #9ad4d8;
    }

    .fill-accent-30 {
      fill: rgba(154, 212, 216, 0.2);
    }
  </style>
  <title>Claw Vault</title>
</head>
